<app-header></app-header>
<app-banner></app-banner>
<div class="container places">
    <div class="row dining">
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <a>
                    <img src="/assets/place-card-1" class="card-img-top" alt="card2">
                    <div class="card-body">
                      <h5 class="card-title">Order Online</h5>
                      <p class="card-text">Stay home and order to your door step</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <a>
                    <img src="/assets/place-card-2" class="card-img-top" alt="card2">
                    <div class="card-body">
                    <h5 class="card-title">Dining</h5>
                    <p class="card-text">View the city favourite's dining venues</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 100%;">
                <a>
                    <img src="/assets/place-card-3" class="card-img-top" alt="card3">
                    <div class="card-body">
                    <h5 class="card-title">Nightlife and Clubs</h5>
                    <p class="card-text">Explore the city's top nightlife outlets</p>
                    </div>
                </a>
              </div>
        </div>
    </div>
</div>
<div class="container places">
    <h1><b>Collections</b></h1>
    <div class="content-info">
        <h6>Explore curated lists of top restaurants, cafes, pubs, and bars in Hyderabad, based on trends</h6>
        <a>All collections in Hyderabad <i class='bx bxs-right-arrow'></i></a>
    </div>
    <div class="row collections">
        <div class="col-sm-3">
                <a class="collect">
                    <img src="/assets/collect-card-1" class="card-img-top" alt="card2">
                    <div class="card-body">
                      <h5 class="card-title">16 Live Cricket Screenings</h5>
                      <p class="card-text">16 Places <i class="bx bxs-right-arrow" style="
                        font-size: x-small;"></i></p>
                    </div>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="collect">
                    <img src="/assets/collect-card-2" class="card-img-top" alt="card2">
                    <div class="card-body">
                    <h5 class="card-title">Dining</h5>
                    <p class="card-text">View the city favourite's dining venues<i class="bx bxs-right-arrow" style="
                        font-size: x-small;" ></i></p>
                    </div>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="collect">
                    <img src="/assets/collect-card-3" class="card-img-top" alt="card3">
                    <div class="card-body">
                    <h5 class="card-title">Nightlife and Clubs</h5>
                    <p class="card-text">Explore the city's top nightlife outlets<i class="bx bxs-right-arrow" style="
                        font-size: x-small;"></i></p>
                    </div>
                </a>
        </div>
        <div class="col-sm-3">
                <a class="collect">
                    <img src="/assets/collect-card-4" class="card-img-top" alt="card3">
                    <div class="card-body">
                    <h5 class="card-title">Nightlife and Clubs</h5>
                    <p class="card-text">Explore the city's top nightlife outlets<i class="bx bxs-right-arrow" style="
                        font-size: x-small;"></i></p>
                    </div>
                </a>
        </div>
    </div>
</div>
<div class="container places">
    <h1>Popular localities in and around <b>Hyderabad</b></h1>
    <div class="row locality">
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row locality">
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row locality">
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                    <div class="title">
                        <h5>Jubilee Hills</h5>
                        <p>336 places</p>
                    </div>
                    <span><i class='bx bx-chevron-right'></i></span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div role="region" class="card">
                <div class="img-title-box">
                        <h5>See more <i class='bx bx-chevron-down'></i></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<app-mobile></app-mobile>
<app-explore-options></app-explore-options>
<app-footer></app-footer>