app-header{
    position: absolute;
    width: 100%;
    z-index: 999;
}
app-banner{
    position: relative;
}
app-explore-options{
    position: relative;
}
.places{
    margin: 4rem auto;
    .dining{
        .card{
            width: 100%;
            img{
                width: 100%;
                object-fit: cover;
                height: 200px;
            }
        }
        .card:hover{
            transform: scale(1.1);
            transition: all 0.8s ease 0s;
        }
    }
    .content-info{
        display: flex;
        justify-content: space-between;
    }
    .collections{
        margin: 2rem auto;
        .col-sm-3 {
            position: relative;
            .collect{
                position: relative;
                img{
                    height: 23rem;
                    border-radius: 8px;
                }
                .card-body{
                    position: absolute;
                    color: #fff;
                    top: 6rem;
                    padding: 1rem;
                }
            }
        }
            
    }
    .locality{
        margin: 2rem auto;
        .card{
            height: 97px;
            .img-title-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .7rem;
                h5{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
            }
            span i{
                font-size: 1.23rem;
            }
        }
        div.row:nth-child(3) {
            background-color: aqua;
        }
    }
}