.p-dropdown.p-component{
    width: 100% !important;
}
button{
    width: inherit;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    font-size: large;
    text-align: center;
}
select{
    max-width: 100px;
    margin-right: 10px;
}
.form-check label{
    font-size: .7rem;
}
.dialog-box {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}
.dialog-box a.create-acct{
    color: #E03546 !important;
}

a{
    color: #ffffff;
}