<div class="container explore">
  <h2><b>Explore options near me</b></h2>
  <p-accordion class="w-full">
    <p-accordionTab class="accordian-primeng">
        <ng-template pTemplate="header">
            <div class="flex align-items-center justify-content-around">
                <span class="vertical-align-middle">Popular cuisines near me</span>
                <i class="pi pi-calendar mr-9"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
              <div><a href="https://www.zomato.com/bakery-restaurants-near-me" class="sc-cmIlrE bkCYal">Bakery food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/beverages-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Beverages food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/biryani-restaurants-near-me" class="sc-cmIlrE bkCYal">Biryani food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/burger-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Burger food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/chinese-restaurants-near-me" class="sc-cmIlrE bkCYal">Chinese food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/coffee-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Coffee food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/desserts-restaurants-near-me" class="sc-cmIlrE bkCYal">Desserts food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/ice-cream-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Ice Cream food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/kebab-restaurants-near-me" class="sc-cmIlrE bkCYal">Kebab food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/mughlai-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Mughlai food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/north-indian-restaurants-near-me" class="sc-cmIlrE bkCYal">North Indian food near
                  me</a><span class="buOgMD"></span><a href="https://www.zomato.com/pizza-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Pizza food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/sandwich-restaurants-near-me" class="sc-cmIlrE bkCYal">Sandwich food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/seafood-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Seafood food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/" class="sc-cmIlrE bkCYal">Shake food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/shawarma-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Shawarma food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/sichuan-restaurants-near-me" class="sc-cmIlrE bkCYal">Sichuan food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/south-indian-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">South Indian food near me</a><span class="buOgMD"></span><a
                  href="https://www.zomato.com/street-food-restaurants-near-me" class="sc-cmIlrE bkCYal">Street food near me</a><span
                  class="buOgMD"></span><a href="https://www.zomato.com/tea-restaurants-near-me"
                  class="sc-cmIlrE bkCYal">Tea food near me</a>
                </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-search mr-2"></i>
                <span class="vertical-align-middle">Popular restaurant types near me</span>
                <i class="pi pi-cog ml-2 ml-2"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
              <div><a href="https://www.zomato.com/bakery-restaurants-near-me" class="sc-cmIlrE bkCYal">Bakery food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/beverages-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Beverages food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/biryani-restaurants-near-me" class="sc-cmIlrE bkCYal">Biryani food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/burger-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Burger food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/chinese-restaurants-near-me" class="sc-cmIlrE bkCYal">Chinese food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/coffee-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Coffee food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/desserts-restaurants-near-me" class="sc-cmIlrE bkCYal">Desserts food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/ice-cream-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Ice Cream food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/kebab-restaurants-near-me" class="sc-cmIlrE bkCYal">Kebab food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/mughlai-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Mughlai food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/north-indian-restaurants-near-me" class="sc-cmIlrE bkCYal">North Indian food near
                me</a><span class="buOgMD"></span><a href="https://www.zomato.com/pizza-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Pizza food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/sandwich-restaurants-near-me" class="sc-cmIlrE bkCYal">Sandwich food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/seafood-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Seafood food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/" class="sc-cmIlrE bkCYal">Shake food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/shawarma-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Shawarma food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/sichuan-restaurants-near-me" class="sc-cmIlrE bkCYal">Sichuan food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/south-indian-restaurants-near-me"
                class="sc-cmIlrE bkCYal">South Indian food near me</a><span class="buOgMD"></span><a
                href="https://www.zomato.com/street-food-restaurants-near-me" class="sc-cmIlrE bkCYal">Street food near me</a><span
                class="buOgMD"></span><a href="https://www.zomato.com/tea-restaurants-near-me"
                class="sc-cmIlrE bkCYal">Tea food near me</a>
              </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
        <ng-template pTemplate="header">
            <div class="flex align-items-center">
                <i class="pi pi-user mr-2"></i>
                <span class="vertical-align-middle">Top Restaurant Chains</span>
                <i class="pi pi-cog ml-2 ml-2"></i>
            </div>
        </ng-template>
        <ng-template pTemplate="content">
            <p class="m-0">
              <div class="container">
                <ul>
                  <li>Bikanervala</li>
                  <li>Burger King</li>
                  <li>Burger Singh</li>
                  <li>Domino's</li>
                  <li>KFC</li>
                </ul>
                <ul>
                  <li>Krispy Kreme</li>
                  <li>McDonald's</li>
                  <li>Paradise Biryani</li>
                  <li>Pizza Hut</li>
                  <li>Subway</li>
                </ul>
              </div>
        </ng-template>
    </p-accordionTab>
    <p-accordionTab>
      <ng-template pTemplate="header">
          <div class="flex align-items-center">
              <i class="pi pi-user mr-2"></i>
              <span class="vertical-align-middle">Cities We Deliver To</span>
              <i class="pi pi-cog ml-2 ml-2"></i>
          </div>
      </ng-template>
      <ng-template pTemplate="content">
          <p class="m-0">
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
              enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
          </p>
      </ng-template>
  </p-accordionTab>
  </p-accordion>
</div>