.container-fluid{
    .row .col-xs-12, ul{
        display: flex;
        justify-content: space-around;
        height: 100px;
        align-items: center;
    }
    .row a.get-app{
        color: #ffffff;
    }
    ul li{
        margin: 0 1rem;
        a:not(.create-acct){
            color: #ffffff !important;
        }
        p.policies{
            display: flex;
            color: red($color: #d61b1b);
        }
        .profile-drop-down{
            position: relative;
            cursor: pointer;
            color: #ffffff;
            .dropdown{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.65rem;
            }
            ul.dropdown-content{
                display: block;
                position: absolute;
                top: 4rem;
                right: 0rem;
                border-radius: 8px;
                visibility: hidden;
                height: auto;
                background: #ffffff;
                li{
                    margin: 6px;
                }
                li:hover{
                    background-color: grey;
                }
                li a.dropdown-item {
                    color: #111111 !important;
                    padding: 0;
                }
            }
        }
    }
}

.dialog-row{
    margin: 1rem auto;
}
button.p-ripple.p-element.p-button-danger.p-button.p-component {
    width: 100% !important;
}